/* Estilo global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: block;
}

/* Estilo para el aside */
aside {
    background-color: #f0f0f0;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: 100vh;
    position: fixed;
    width: 220px; /* Reducido para dejar más espacio al contenido */
    top: 0;
    left: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 15px 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover {
    color: #007BFF;
}

/* Estilo para el contenido principal */
main {
    margin-left: 240px; /* Espacio lateral para que el main no cubra el aside */
    padding: 20px;
}

section {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

