body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

.container {
    display: flex;
}

aside {
    width: 250px;
    background: #e2e2e2;
    padding: 20px;
}

nav {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    color: #35424a;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffcc00;
}

main {
    flex: 1;
    padding: 20px;
}

h2 {
    color: #35424a;
    border-bottom: 2px solid #35424a;
    padding-bottom: 10px;
}

h3 {
    color: #35424a;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}

p {
    margin-bottom: 15px;
}

.identidades h3{
    font-size: 25px;

}
