
* {
  margin: 0px;
  padding: 0px;
  font-family: "Quicksand", sans-serif;
}

body {
  width: calc(100% - 2px);
}

aside {
    position: fixed;
    float: left;
    height: 100%;
    width: calc(20% - 41px);
    background-color: #FFFFFF77;
    padding: 20px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
}

h1, h2, h3, h4, h5 {

  padding: 5px;

}


p {
  
    text-align: justify;
    padding: 5px;
    max-width: 70%;
  
}

#prehistoria img {
  margin: 10px 50px 10px ; 
  max-width: 250px !important;
} 

.contenedorTextoImagen {
  display: flex;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.contenedorTextoImagen img{
  max-width: 200px;
  height: auto;
  margin-left: 20px;
  margin-top: 60px;
} 

.contenedorTextoImagen p{
  flex: 1;
  margin: 0;
}

.clearfix {
  clear: both;
}

#edadantigua img {
  float: right; /* Coloca la imagen a la derecha */
  clear: right;
  position: static;
  margin: 10px 50px 10px ; 
  max-width: 250px !important;
} 

#edadmedia img {
  float: right; /* Coloca la imagen a la derecha */
  clear: right;
  position: static;
  margin: 10px 50px 10px ; 
  max-width: 250px !important;
}

.container {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  margin: auto;
}

main {
  width: calc(80% - 24px);
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
  float: right;
  background-color: transparent;
}


/* Responsivo: Para pantallas pequeñas */
@media (max-width: 768px) {
  aside {
      position: relative;
      width: 100%;
      height: auto;
  }
  
  section {
      margin-left: 0;
  }

  section img {
      float: none;
      display: block;
      margin: 10px auto;
  }

  footer {
      margin-left: 0;
  }
}
