:root {
    --primary-bg-color: #bcc1cfbb; 
    --secondary-bg-color: #dfdfdf; 
    --text-color: #d1b01d; 
    --link-color: #f3d967; 
    --link-hover-color: #9aa1b5; 
    --footer-hover-color: #9aa1b5; 
}