:root {
    --primary-bg-color: #9dc19d;
    --secondary-bg-color: #d3d5b0;
    --text-color: #50302cf7;
    --link-color: white;
    --link-hover-color: #ac956f;
    --footer-hover-color: #443829;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--secondary-bg-color);
    color: var(--text-color);
    line-height: 1.6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    height: 80px;
    background-color: var(--primary-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav ul {
    list-style: none;
    display: flex;
}

@keyframes moveLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-300px); 
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(0); 
    }
    100% {
        opacity: 1;
        transform: translateX(-150px);
    }
}

@keyframes slideOut {
    0% {
        opacity: 1;
        transform: translateX(-150px); 
    }
    100% {
        opacity: 0;
        transform: translateX(0); 
    }
}

nav ul li {
    position: relative;
}

nav ul li a {
    color: var(--link-color);
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    padding: 20px;
    display: block;
    transition: color 0.3s ease;
}


nav ul ul {
    display: none;
    position: absolute;
    left: -50px; 
    bottom: 10px;
    text-align: center;
    background-color: var(--primary-bg-color);
    z-index: 1000;
    opacity: 0; 
}


.epocas-menu:focus-within > a {
    animation: moveLeft 0.5s forwards;
}

.epocas-menu:focus-within > ul {
    display: flex;
    animation: slideIn 0.5s forwards;
}

nav ul ul a:focus {
    outline: none; 
}
nav ul ul a:hover{
    color: var(--footer-hover-color);
}
nav ul li a:hover{
    color: var(--footer-hover-color);
}

nav ul ul li {
    display: inline-block;
    width: 100px;
}

nav ul ul a {
    padding: 10px 15px;
    color: var(--link-color);
    transition: color 0.3s ease;
}

main {
    flex-grow: 1;
}

#footer_section {
    background-color: var(--primary-bg-color);
    color: var(--link-color);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#footer_section nav {
    flex-grow: 1;
    text-align: center;
}

#footer_section ul {
    list-style: none;
    display: inline-flex;
    padding: 0;
}

#footer_section ul li {
    margin-left: 10px;
}

#footer_section ul li a {
    color: var(--link-color);
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s ease;
}

#footer_section ul li a:hover {
    color: var(--footer-hover-color);
}

.pie_pagina {
    font-size: small;
    text-align: right;
    margin-left: auto;
    flex-grow: 1;
}

#frame_cabecera, #frame_pie-pagina {
    z-index: 2;
}

#frame_cuerpo {
    z-index: 0;
}
