* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
}

.container{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 99%;
    margin: auto;
    background-color: rgba(245, 245, 220, 0.301);
}
.section-obras-maestras {
    /* border: 1px solid red; */
    margin: 10px;
    background-color: transparent;
}

.section-obras-maestras h2 {
    text-align: center;
    /* border: 2px solid yellow; */
    margin: 15px;
    padding: 15px;
}

.obras-maestras {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 4fr));
    text-align: center;
    align-items: center;
    justify-content: center;
}

.obras-maestras article {
    margin: 5px;
    padding: 5px;
    /* border: 1px solid green; */
}

.obras-maestras article img {
    width: 250px;
    height: auto;
    border: 1px solid white;
    text-align: center;
}