*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 100%;
}
.section-obras-maestras{
    border: 1px solid red;
}
.section-obras-maestras h2{
    text-align: center;
}
.obras-maestras {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 4fr));
    border: 1px solid black;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.obras-maestras article{
    margin: 5px;
    padding: 5px;
    border: 1px solid green;
}
.obras-maestras article img{
    width: 250px;
    height: auto;
    text-align: center;
}